<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <h1>Cadastrar</h1>
        <form method="post" action="/verificarcadastro">
            <input type="text" name="nome" placeholder="Nome" required><br>
            <input type="email" name="email" placeholder="Email" required><br>
            <input type="passowrd" name="senha" placeholder="Senha" required><br>
            <input type="passowrd" name="confsenha" placeholder="Confirmar Senha" required><br>
            <button type="submit">Cadastrar</button><br><br>
            <a href="/login">Login</a>
        </form>
    </body>
</html>